# Exclude specific files
# All files which are tracked by git and not explicitly excluded here are included by setuptools_scm
exclude .codecov.yaml
exclude .editorconfig
exclude .gitattributes
exclude .gitignore
exclude .mailmap
exclude .pre-commit-config.yaml
exclude .readthedocs.yaml
exclude .rtd-environment.yml
exclude .zenodo.json
exclude tox.ini

# Prune folders
prune .circleci
prune .github
prune changelog

prune sunpy/_dev
