# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: EndToEndRun

on:
  push:
    branches:
      - '**'        # matches every branch
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  pull_request:
    branches:
      - '**'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[dev]
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
       # Update references
    - name: Git Sumbodule Update
      run: |
        git submodule init
        git pull --recurse-submodules
    - name: end2end test with pytest
      run: |
        pytest -p no:warnings --doctest-rst -m "end2end" --pyargs stixcore
